{% extends 'base.html' %}
{% block content %}
    <h1>동아리 추가</h1>
    
    <form method="post">
        {% csrf_token %}
        <label for="name">이름:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="introduction">소개:</label>
        <textarea id="introduction" name="introduction" required></textarea>
        <br>
        <label for="number">인원수:</label>
        <input type="number" id="number" name="number" required>
        <br>
        <input type="submit" value="Add Club">
    </form>
    {% endblock %}